/* Global background */
body {
    background-color: #FFFCF5;
    padding-top: 50px; 
}

/* Text */
.text-primary {
    color: var(--nb-dark) !important;
}

/* Custom gradient background */
.nb-gradient-bg {
  background: linear-gradient(135deg, var(--nb-orange), var(--nb-yellow));
  color: white;
}

.ex-small {
  font-size: 0.85rem !important;  /* use rem instead of px for responsiveness */
  line-height: 1.6 !important;
  margin-top: 3px !important;
  color: #e72135 !important;
  font-weight: 400; 
}

.just-validate-error-label {
  font-size: 0.85rem !important; /* smaller */
  color: #e72135 !important; /* your palette color */
  margin-top: 3px;
  display: block;
  font-weight: 400;
}


