/* Global background */
body {
    background-color: #FFFCF5;
    padding-top: 50px; 
}

/* Text */
.text-primary {
    color: var(--nb-dark) !important;
}

/* Custom gradient background */
.nb-gradient-bg {
  background: linear-gradient(135deg, var(--nb-orange), var(--nb-yellow));
  color: white;
}

